<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.anyone.article">

    <select id="selectArticleColumnList" resultType="articleColumn">
        SELECT column_name as columnName
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_name = 'tb_article'
        AND table_schema = 'AnyoneProjectDB'
    </select>

    <select id="selectArticleListCount" resultType="int">
        SELECT COUNT(1) as cnt FROM tb_article
    </select>

    <select id="selectArticleList" parameterType="page" resultType="java.util.HashMap">
        SELECT * FROM tb_article
        LIMIT #{startRowNo} , #{endRowNo}
    </select>

    <select id="selectArticle" parameterType="long" resultType="article">
        SELECT
        seq
        ,bbs_no as bbsNo
        ,article_title as articleTitle
        ,article_content as articleContent
        ,writer
        ,user_id as userId
        ,reg_datetime as registerDatetime
        ,mod_datetime as modifyDatetime
        FROM tb_article
        WHERE seq = #{seq}
    </select>


    <insert id="insertArticle" parameterType="article" useGeneratedKeys="true" keyProperty="seq" keyColumn="seq">
        insert into tb_article
        (bbs_no, article_title, article_content, writer, user_id, reg_datetime)
        values
        ( 1, #{articleTitle}, #{articleContent}, #{writer}, #{writer},
        sysdate() )
        <selectKey resultType="long" keyProperty="seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


    <delete id="deleteArticle" parameterType="long">
        DELETE FROM tb_article
        WHERE seq = #{seq}
    </delete>


    <update id="updateArticle" parameterType="article">
        UPDATE tb_article
        SET article_title = #{articleTitle}
        , article_content = #{articleContent}
        , writer = #{writer}
        , mod_datetime = now()
        WHERE seq = #{seq}
    </update>
</mapper>
