<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <typeAliases>
        <typeAlias type="com.project.anyone.article.model.Article" alias="article" />
        <typeAlias type="com.project.anyone.article.model.ArticleColumn" alias="articleColumn" />
        <typeAlias type="com.project.anyone.common.helper.Page" alias="page" />
    </typeAliases>
    <mappers>
        <mapper resource="/mappers/articleMapper.xml" />
    </mappers>
</configuration>
